Average Age: <%= Astronaut.average_age %>

<% @astronauts.each do |astronaut| %>
  <p><%= astronaut.name %></p>
  <p><%= astronaut.age %></p>
  <p><%= astronaut.job %></p>
  <p>Missions:</p> <% astronaut.missions.alphabetical.each do |miss| %>
      <p class="missions"><%= miss.title %></p>
    <% end %>
<% end %>
